* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */

	color: white;
	display: flex;
	padding: 1.5em 20px;
}


/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */

	background-color: black;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	font-size: 0.6em;
	padding: 15px 0;
	flex-wrap: nowrap;
}

/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
	display: flex;
	flex-direction: column;
	color: white;
	align-items: center;
	text-align: center;
	gap: 30px;
}

/* STUDENT CODE */
/* HEADER - Style and position of element in the reel header */

.reel-header>i { /* Dimension of icons */
	font-size: 1.25em;
}

#explore, #followed { /* Style of inactive header menu elements */
	color: rgba(131, 154, 163, 0.75);
	font-weight: 500;
}

#fy { /* Underline of "Per te" - Note: the span in html was created to underline 
	only the relevant part - rest of style is inherited from reel-header parent */
	border-bottom: 3px white solid;
	padding: 0.5em 0;
}

.top-nav { /* I created top-nav div for the three menu buttons inside the header*/
	display: flex;
	flex-direction: row;
	width: 40%;
	justify-content: space-between;
	align-items: center; 
}

/* Red dots next to "Seguiti" */

.reel-header .bi-circle-fill {
	color:rgba(255, 0, 0, 0.33);
	font-size: 0.5em;
	position: absolute;
	top: 25px;
	left: 56%;
}

/* SIDEBAR - Style and position of element in the sidebar */

/* User pic */

#user-pic {
	width: 50px;
	border-radius: 50%;
	border: 2px solid white;
	overflow: hidden;
 }


/* Icons and numbers dimension */

.sidebar>div>i {
	font-size: 1.75em;
	text-shadow: 0 2px rgba(255, 255,255, 0.5);
}

.sidebar>div>p {
	font-size: 0.8em;
	padding-top: 3px;
	text-shadow: 0 2px rgba(255, 255,255, 0.5);
}


/* Move arrow icon on top of diamond icon */

.sends { position: relative;
}

.bi-arrow-90deg-right {
	position: absolute;
	color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 7.5%;
	scale: 0.5;
}

/* add "add" button on top of user pic in sidebar */
.sidebar-user-pic {
	position: relative;
	font-size: 1.5rem;
}

#sidebar-add-button {
	padding: 0;
	background-color: red;
	width: 20px;
	border-radius: 50%;
	line-height: 20px;
	position: absolute;
	top: 50px;
    left: 30%;
    translate: 0 -50%;
	text-shadow: none;
}


/* REEL-PAGE - position and style of reel description */

.reel-info {
	position: absolute;
	color: #fff;
	bottom: 7.5%;
	width: 75%;
	padding: 10px;
}

.reel-info>#user-id{
	font-weight: 600;
	margin: 0.5em 0;
}

/* FOOTER - position and style of footer elements */

footer>div {
	width: 100px;
}

footer>div>i
	{
		font-size: 2.5em;
	}

.add-button {
	font-size: 2.5em;
	color: black;
	font-weight: 500;
	background-color: #fff;
	width: 45px;
	height: 30px;
	border-radius: 25%;
	border-left: aqua 3px solid;
	border-right: magenta 3px solid;
	text-align: center;
	align-self: flex-start;
	line-height: 30px;
}

/* add, style and position messages to read info */

.messages-button {
	position: relative;
}

#to-read {
	background-color: red;
	padding: 0 5px;
	border-radius: 8px;
	position: absolute;
    top: 0;
    right: 25px;
    translate: -30% 0;
}








